/*
    Fonts
    Intégration manuel d'une police d'écriture(on charge les depuis le dossier fonts)
*/
@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular.woff') format('woff'),
    url('../fonts/raleway-regular.ttf') format('truetype'),
    url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-bold.woff') format('woff'),
    url('../fonts/raleway-bold.ttf') format('truetype'),
    url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-semibold.woff') format('woff'),
    url('../fonts/raleway-semibold.ttf') format('truetype'),
    url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Style global*/
* {
  margin: 0;
  padding: 0;
}

.left, .right, .right2 {
  margin-left: 60px;
  float: left;
}

.logo {
  margin-top: 80px;
}

.nav {
  margin-top: 80px;
}

.nav .nav2 li {
  list-style-type: none;
  margin-bottom: 15px;
}

.nav .nav2 li a {
  text-decoration: none;
  color: gray;
}

.sm {
  margin-top: 600px;
}

.sm li {
  list-style-type: none;
}

.sm li a {
  background-image: url(../img/sm.png);
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px;
  margin-bottom: 20px;
}

.gg a {
  background-position: 154px 0px;
}

.be a {
  background-position: 123px 0px;
}

.rs a {
  background-position: 30px 0px;
}

.sm li a:hover {
  background-image: url(../img/sm_hover.png);
}

.sm li a:active {
  background-image: url(../img/sm2.png);
}

.right img {
  float: left;
  width: 530px;
  height: 530px;
}

.right img:hover {
  opacity: 0;
}

.right a:hover p {
  opacity: 1;
}
.right a {
  color:gray;
}
.right a p {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.right .p1 {
  opacity: 0;
  position: absolute;
  right: 67%;
  bottom: 70%;
}
.right .p2 {
  opacity: 0;
  position: absolute;
  right: 39%;
  bottom: 71%;
}

.right2 img:hover {
  opacity: 0;
}

.right2 img {
  float: left;
  width: 530px;
  height: 530px;
}

.para {
  position: absolute;
  right: 56.4%;
  bottom: 45.3%;
  opacity: 0;
  width: 530px;
  height: 530px;
}

.para p {
  margin-top: 265px;
  margin-left: 265px;
}

.para:hover {
  opacity: 1;
}
